# dependencies
node_modules/

# next build outputs
.next/
out/

# build artifacts
dist/
build/
coverage/
*.tsbuildinfo

# logs
*.log

# env files
.env.local
.env.*.local

# deploy and cache
.vercel
.turbo

# OS / IDE
.DS_Store
Thumbs.db
.idea/
